<nav>
  <div class="left-nav">
    <ul>
      <li>
        <a routerLink="songs" routerLinkActive="active" >
          Toute les musiques
        </a>
      </li>
      <li>
        <a routerLink="new-song" routerLinkActive="active" >
          Ajouter une musique
        </a>
      </li>
    </ul>
  </div>
  <div class="logo">
    <div class="logo-image">
      <img src="../../assets/images/mic.jpg">
    </div>
    <div class="logo-text">
      <h1>
        Que du bon son
      </h1>
      <h5>
        Le répertoire des meilleurs musiques
      </h5>
    </div>
  </div>
  <div class="right-nav">
    
  </div>
</nav>
