<mat-spinner *ngIf="loading"></mat-spinner>
<div class="song-container" *ngIf="!loading">
  <div class="song-info">
    <h1 class="song-titre">Titre : {{ song?.titre }}</h1>
    <h3>Auteur</h3>
    <p>{{ song.auteur }}</p>
    <div class="like-pending" *ngIf="likePending">
      <mat-spinner class="white-spinner"></mat-spinner>
    </div>
    <div class="control-buttons">
      <button mat-raised-button (click)="onBack()">BACK</button>
      <button mat-raised-button color="primary" (click)="onModify()" >MODIFY</button>
      <button mat-raised-button color="warn" (click)="onDelete()">DELETE</button>
    </div>
  </div>
</div>
